<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
    <tr>
      <th>Sr #</th>
      <th>Sponsor Name</th>
      <th>Name</th>
      <th>Description</th>
      <th>Category</th>
      <th>Clicks</th>
      <th>Views</th>      
    </tr>
      <tr *ngFor="let message of users; let i = index">
        <td>{{ i }}</td>
        <td>{{ message.Sponsor_Name }}</td>
        <td>{{ message.Name }}</td>
        <td>{{ message.Description }}</td>        
        <td>{{ message.Ad_type}}</td>
        <td>{{ message.Total_clicks}}</td>
        <td>{{ message.Total_views}}</td>        
      </tr>
    </table>
  </div>
</div>
